.form-container {
    text-align: center;
}

.table_addprices {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 300px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .td_label
  {
  width: 150px;
  }

  .td_input
  {
  width: 100px;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  
   tr:nth-child(all) {
    background-color: #ffffff;
  } 
  tr:nth-child(odd) {
    background-color: #eeeeee;
  } 
  
  input[type="text"]{
    height: 20px;
    padding-left: 15px;
    margin: 5px;
  }

  input[type="button"], input[type="submit"]{
    height: 25px;
    margin-left: 5px;
  }