<div class="container" id="addupdatecomponent">
    <div class="row">
        <div class="col-6"></div>
        <form #form="ngForm" (ngSubmit)="updateStockPricesForTickerAndDate()">
            <table class="form_contol_table" >
                <tr> 
                    <td class="form_contol_label_col"> <label for="tickerField" class="form-label">Ticker:</label></td> 
                    <td class="form_contol_input_col"> <input type="text" class="form-control" disabled="true" id="ticker" name="ticker" [(ngModel)] = "stockPricesForTickerAndDate.ticker"></td> 
                </tr>
                <tr> 
                    <td class="form_contol_label_col"> <label for="priceDateField"  class="form-label">PriceDate:</label></td> 
                    <td class="form_contol_input_col"> <input type="text" class="form-control" disabled="true"  id="priceDate" name="priceDate" [(ngModel)] = "stockPricesForTickerAndDate.priceDate"></td> 
                </tr>
                <tr> 
                    <td class="form_contol_label_col"> <label for="openField" class="form-label">Open:</label></td> 
                    <td class="form_contol_input_col"> <input type="text" class="form-control" id="open" name="open" [(ngModel)] = "stockPricesForTickerAndDate.open" ></td> 
                </tr>
                <tr> 
                    <td class="form_contol_label_col"> <label for="highField" class="form-label">High:</label></td> 
                    <td class="form_contol_input_col"> <input type="text" class="form-control" id="high" name="high" [(ngModel)] = "stockPricesForTickerAndDate.high"></td> 
                </tr>
                <tr> 
                    <td class="form_contol_label_col"> <label for="lowField" class="form-label">Low:</label></td> 
                    <td class="form_contol_input_col"> <input type="text" class="form-control" id="low" name="low" [(ngModel)] = "stockPricesForTickerAndDate.low"></td> 
                </tr>

                <tr> 
                    <td class="form_contol_label_col"> <label for="closeField" class="form-label">Close:</label></td> 
                    <td class="form_contol_input_col"> <input type="text" class="form-control" id="close" name="close" [(ngModel)] = "stockPricesForTickerAndDate.close"></td> 
                </tr>

                <tr> 
                    <td class="form_contol_label_col"> <label for="adjCloseField" class="form-label">AdjClose:</label></td> 
                    <td class="form_contol_input_col"> <input type="text" class="form-control" id="adjClose" name="adjClose" [(ngModel)] = "stockPricesForTickerAndDate.adjClose"></td> 
                </tr>

                <tr> 
                    <td class="form_contol_label_col"> <label for="volumeField" class="form-label">Volume:</label></td> 
                    <td class="form_contol_input_col"> <input type="text" class="form-control" id="volume" name="volume" [(ngModel)] = "stockPricesForTickerAndDate.volume"></td> 
                </tr>

            </table>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <button type="submit" class="btn btn-primary">Save</button>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button type="button" class="btn btn-primary" value ="Back" (click)="onBackButtonClickHandler()">Back</button>
        </form>
    </div>
</div>

