<div class="container">
    <table class="table table-success table-striped table-hover" *ngIf="stockPrices && stockPrices.length>0">
        <thead>
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">PriceDate</th>
                <th scope="col">Open</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Close</th>
                <th scope="col">AdjClose</th>
                <th scope="col">Volume</th>
                <th scope="Edit">Volume</th>
                <th scope="Delete">Volume</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stockPrice of stockPrices">
                <td>{{stockPrice.ticker}}</td>
                <td>{{stockPrice.priceDate}}</td>
                <td>{{stockPrice.open.toFixed(2)}}</td>
                <td>{{stockPrice.high.toFixed(2)}}</td>
                <td>{{stockPrice.low.toFixed(2)}}</td>
                <td>{{stockPrice.close.toFixed(2)}}</td>
                <td>{{stockPrice.adjClose.toFixed(2)}}</td>
                <td>{{stockPrice.volume.toLocaleString()}}</td>
                <td>
                    <a [routerLink]="['stockprices/edit']" [queryParams]="{ticker:stockPrice.ticker, priceDate:stockPrice.priceDate}" >Edit</a>
                </td>
                <td>
                    <a>&nbsp;&nbsp;</a>
                    <a [routerLink]="[]" style="color:#ff0000;" (click)="deleteStockPricesRecordForTickkerAndDate(stockPrice.ticker,stockPrice.priceDate)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!stockPrices || stockPrices.length==0">No Stocks Prices for this ticker</p>
 </div>
